.title {
    padding: 10px;
    font-size: 33px;
    text-align: center;
}

.search-form {
    text-align: center;
    text-decoration: none;
    position: relative;
    display: table;
    padding: 10px;
    width: 100%;
    margin-top: 5vh;   
    
}
.above-input {
    display: inline-block;
    padding: 8px;
    color: rgba(47, 45, 45, 0.891);
}
.below-input {
    color: rgb(138, 135, 135);
}
.search-form input[type="text"] {
    display: flex;
    text-align: center;
    border: 2px solid #f58fa9;
	border-width: 2px;
    margin: auto;
    padding: 9px;
	border-radius: 24px 50px 30px;
	border-style: solid;
    transition: 0.35s;
    width: 300px;
    outline: none;
}
.search-form input[type="text"]:focus:active {
    border-color: #4d79ff;
    border-bottom: 2px #4d79ff;
}
.search-form input[type="text"]:focus, textarea:focus {
    box-shadow: 0 0 7px rgba(81, 203, 238, 1);
    
}
.search-form input[type="text"]:hover {
    width: 400px;
}

.btn-submit {
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    padding: auto;
    margin: 15px;
    display: inline-block;
    padding: 10px;
    border: #4d79ff;
    border-radius: 10px 10px 10px 10px;
    background-color: #4d79ff;
    width: 80px;
    height: 40px;
    font-weight: 520;
    font-size: 16px;
    outline: none;
   
}
.btn-submit:hover {
    transition: 0.5s;
    background-color: #f58fa9;
    border-radius: 15px 15px 15px 15px; 
    cursor: pointer;
    border: 1px solid rgb(75, 182, 248);
    box-shadow: 0 0 7px rgba(81, 203, 238, 1);
}
.btn-submit:active {
    transform: scale(1.1);
}
/*
<form id="search-form" class="search-form">
           
    <div class="form-group">
        <label class="above-input">Keyword</label>
        <input type="text" class="form-input" id="search-entity" autocomplete="off">
        <small class="below-input">We'll never share your password with anyone else.</small>
    </div>
    <button type="submit" class="btn-submit" id="btn-submit">Submit</button>
</form>
*/

.password-container {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

#password-list {
    position: relative;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

.listing {
    display: flex;
    color: ghostwhite;
    background: rgb(250, 132, 205);
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 400px;
    transition: 0.5s;
    animation: copy;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.listing:hover {
    transform: scale(1.1);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,117,253,1) 100%);
    transition: 0.5s;
    cursor: pointer;
}

.listing :nth-child(1) {
    margin: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.listing :nth-child(2) {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes copy {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}