body{
	margin: 0%;
	padding: 0;
    font: sans-serif;
    
}

.title {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.search-form {
	text-align: center;
	left: 50%;
    position: relative;
    margin-top: 100px;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
}
.search-form input[type="text"] {
    display: flex;
    text-align: center;
    border: 2px solid #f58fa9;
	border-width: 2px;
	margin: auto;
	border-radius: 24px 50px 30px;
	border-style: solid;
    transition: 0.35s;
    width: 300px;
}

.search-form input[type="text"]:hover {
    width: 400px;
}

#btn-submit {
    display: inline-flex;
    border-radius: 10px 10px 10px 10px;
}
#btn-submit:hover {
    transition: 0.5s;
    border: 2px solid #f58fa9;
    background-color: #f58fa9;
    border-radius: 15px 15px 15px 15px; 
}

.password-container {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

#password-list {
    position: relative;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

.listing {
    display: flex;
    color: ghostwhite;
    background: rgb(250, 132, 205);
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 400px;
    transition: 0.5s;
    animation: copy;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.listing:hover {
    transform: scale(1.1);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,117,253,1) 100%);
    transition: 0.5s;
    cursor: pointer;
}

.listing :nth-child(1) {
    margin: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.listing :nth-child(2) {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes copy {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
