{% extends "storer/base.html" %}
{% load static %}

{% block title %}
    <h1 class="title">Password Manager</h1>
{% endblock %}

{% block body %} 
    <form id="search-form" class="search-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputWebsite">Keyword</label>
            <input type="text" class="form-control" id="search-entity" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
    </form>
        
    <div class="password-container">
        <ul id="password-list">
        </ul>
    </div>

    <link rel="stylesheet" href="{% static 'storer/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="{% static 'storer/index.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock %}
